<div class="flex flex-col w-[90%] gap-10 m-auto mt-10">
    <div class="flex gap-2 view-back">
        <button><img src="Public/assets/bx-arrow-back.svg" class="" alt="" srcset=""></button>
        <h3 class="font-bold">Back</h3>
    </div>

    <div class="flex flex-col gap-5 w-[85%] m-auto">
        <div class="flex flex-col gap-10">
            <h2 class="font-bold text-4xl text-fc2">Log In</h2>
            <p class="text-[#888888] text-lg">Welcome back! Access your inventory to manage your products</p>
            <form id="login-form" class="flex flex-col gap-5 m-0">
                <input type="email" id="login-email" placeholder="Email Address" class="w-full p-2 bg-[#EEF2FF] rounded-lg focus:outline-none">
                <input type="password" id="login-password" placeholder="Password" class="w-full p-2 bg-[#EEF2FF] rounded-lg focus:outline-none">
                <button type="submit" id="login-button" class="w-full rounded-md bg-fc3 text-white p-3 font-extrabold">Log In</button>
            </form>
        </div>

        <div class="flex flex-col gap-7">
            <div class="flex justify-center flex-col gap-4">
                <div class="flex justify-center gap-2 items-center">
                    <span class="text-gray-600 font-semibold">Don't have an account?</span>
                    <button class="text-fc2 font-medium view-create-account">Create Account</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('login-button').addEventListener('click', function(event) {
    event.preventDefault();

    const email = document.getElementById('login-email').value;
    const password = document.getElementById('login-password').value;

    firebase.auth().signInWithEmailAndPassword(email, password)
        .then((userCredential) => {
            var user = userCredential.user;
            console.log('Login successful:', user);
            Swal.fire({
                icon: 'success',
                iconColor: '#6A5ACD',
                title: '¡Listo!',
                text: 'Has iniciado sesión.',
                width:'300px',
                timer: 2000,
                showConfirmButton: false,
                customClass: {
                    title:'text-2xl',
                    text:'text-md',
                }
            }).then(() => {
                loadPartialView('home-inventory', document.querySelector('.init'), false);
                showNavBar();
            });
        })
        .catch((error) => {
            console.error('Login error:', error);
            let errorMessage = error.message;
            if (errorMessage.includes('auth/user-not-found')) {
                errorMessage = 'Usuario no encontrado. Por favor, verifica tu correo electrónico.';
            } else if (errorMessage.includes('auth/wrong-password')) {
                errorMessage = 'Contraseña incorrecta. Por favor, inténtalo de nuevo.';
            } else if (errorMessage.includes('auth/too-many-requests')) {
                errorMessage = 'Demasiados intentos de inicio de sesión fallidos. Por favor, inténtalo más tarde.';
            } else if (errorMessage.includes('auth/invalid-email')) {
                errorMessage = 'Por favor, ingrese un correo electrónico válido.';
            }else if (errorMessage.includes('auth/invalid-login-credentials')) {
                errorMessage = 'Contraseña incorrecta. Por favor, inténtalo de nuevo.';
            }else if (errorMessage.includes('auth/internal-error')) {
                errorMessage = 'Necesitas completar todos los campos.';
            }
            
            Swal.fire({
                icon: 'error',
                iconColor: '#333333',
                title: 'Error al iniciar sesión',
                text: errorMessage,
                width: '300px',
                customClass: {
                    title:'text-2xl',
                    text:'text-md',
                }
            });
        });
});

document.querySelector('.view-back').addEventListener('click',function(){
        loadPartialView('home-app',document.querySelector('.init'), false);
    })

    document.querySelector('.view-create-account').addEventListener('click',function(){
        loadPartialView('sign-up',document.querySelector('.init'), false);
    })

</script>
