<link rel="stylesheet" href="/www/Public/css/tailstyle.css">

<div class="flex flex-col w-[90%] gap-10 m-auto mt-10">  <!-- Div principal utilizo el 90% dela pantalla -->

    <div class="flex gap-2 view-back"> <!--Div para el boton de regresar a la pestaña anterior-->
        <button><img  src="Public/assets/bx-arrow-back.svg" class="" alt="" srcset=""></button>
        <h3 class="font-bold">Atrás</h3>
    </div>

    <div class="w-[85%] m-auto flex flex-col gap-6 ">
        <div class="flex gap-5 justify-between items-end">
            <div class="gap-1 flex flex-col">
                <h3 class="text-fc2 font-bold text-3xl">Configuración</h3>
                <div class="flex-grow border-t border-fc3"></div>
            </div>
        </div>

        <div class="flex flex-col gap-72">
            <div class="gap-12 flex flex-col">
                <div class="flex flex-col gap-5"> <!--Contenido principal-->
                    <h2 class="font-bold text-lg">Cuenta</h2> <!--Titulo principal-->
    
                    <div class="w-full flex"> <!--Seleccion-->
                        <div class="w-[80%] flex gap-3">
                            <div class="rounded-lg bg-[#EEF2FF] w-12 h-12 flex items-center">
                                <img class="flex m-auto w-10" src="/Public/assets/bx-user.svg" alt="">
                            </div>
                            <div class="flex flex-col justify-center">
                                <h2 class="font-bold" id="usernamePlaceholder">Cargando...</h2>
                                <p class="text-sm text-[#B5B1AC]">Información Personal</p>
                            </div>
                        </div>
                        <button class="flex items-center w-[20%] justify-end view-profile">
                            <img class="w-10" src="/Public/assets/bx-chevron-right.svg" alt="">
                        </button>
                    </div>  
                </div>
            </div>

            <div class="w-full flex"> <!--Seleccion-->
                    <div class="w-[80%] flex gap-3">
                        <div class="rounded-lg bg-[#EEF2FF] w-12 h-12 flex items-center">
                            <img class="flex m-auto w-10" src="/Public/assets/bx-log-out.svg" alt="">
                        </div>
                        <div class="flex items-center">
                            <h2 class="font-bold">Cerrar Sesión</h2>
                        </div>
                    </div>
                    <button class="flex items-center w-[20%] justify-end logout-button">
                        <img class="w-10" src="/Public/assets/bx-chevron-right.svg" alt="">
                    </button>
            </div>
        </div>
    </div>
</div>

<script>  /* partial de nav bar y boton back*/ 

document.querySelector('.logout-button').addEventListener('click', function() {
    Swal.fire({
      title: '¿Estás seguro?',
      text: '¿Quieres cerrar sesión?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#6A5ACD',
      cancelButtonColor: '#6A5ACD',
      confirmButtonText: 'Sí, cerrar sesión',
      cancelButtonText: 'Cancelar',
      customClass: {
        popup: 'bg-white border border-gray-200 rounded-md shadow-lg w-80',
        title: 'font-semibold text-fc2 text-lg',
        content: 'text-gray-700 text-sm',
        confirmButton: 'bg-purple-600 text-white hover:bg-purple-700',
        cancelButton: 'text-purple-600 border border-purple-600 hover:bg-white'
      },
      width: 'w-80',
      padding: '2em',
      background: '#F3F4F6',
      backdrop: `
        rgba(0,0,0,0.4)
        url('https://sweetalert2.github.io/images/nyan-cat.gif')
        left top
        no-repeat
      `
    }).then((result) => {
      if (result.isConfirmed) {
        firebase.auth().signOut().then(function() {
          console.log('Sign-out successful.');
        }).catch(function(error) {
          console.error('Error al cerrar sesión:', error);
        });
      }
    });
  });

  
    document.querySelector('.view-back').addEventListener('click',function(){
        loadPartialView('home-inventory',document.querySelector('.init'), false);
    })

    document.querySelector('.view-profile').addEventListener('click',function(){
        loadPartialView('profile',document.querySelector('.init'), false);
    })
</script>



<script>
function mostrarNombreUsuario() {
    const user = auth.currentUser;

    if (user) {
        const userId = user.uid;
        const userRef = db.collection('Usuarios').doc(userId);

        userRef.get().then((doc) => {
            if (doc.exists) {
                const userData = doc.data();
                const fullName = userData.fullName; 

                const usernameElement = document.getElementById('usernamePlaceholder');
                usernameElement.textContent = fullName;
            } else {
                console.log('No such document!');
            }
        }).catch((error) => {
            console.log('Error getting document:', error);
        });
    } else {
        console.log('No user is signed in');
    }
}

mostrarNombreUsuario();

</script>